{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Home</title>
    <!-- bootstrap cdn -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- css link -->
    <link
      rel="stylesheet"
      href="{% static '/paymentGateway/css/styles.css' %}"
    />
  </head>

  <body>
    <div class="pay-by-razorpay">
      <h3>Pay using Razorpay</h3>

      {% if payment %}
      <form action="{% url 'success' %}" method="POST">
        {% csrf_token %}
        <script
          src="https://checkout.razorpay.com/v1/checkout.js"
          data-key="rzp_test_QE24PJAWl3Y6rc"
          data-amount="{{payment.amount}}"
          {%
          comment
          %}
          var
          amt="{{amount}}"
          data-amount="amt*100"
          {%
          endcomment
          %}
          data-currency="INR"
          data-order_id="{{payment.id}}"
          data-buttontext="Donate"
          data-name="Dhanashree Lavekar"
          data-description="DonateByDCL"
          data-image="{% static '/paymentGateway/media/dropred.jpg' %}"
          data-prefill.name="Dhanashree Lavekar"
          {%
          comment
          %}
          data-prefill.email="dclavekar@gmail.com"
          {%
          endcomment
          %}
          data-theme.color="#11111"
        ></script>
        {% endif %}
        <input type="hidden" custom="Hidden Element" name="hidden" />
      </form>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
      integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>